body {
  font-family:monospace;
  font-size: 16px;
  background-color: rgb(142, 142, 244);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(253, 253, 129);
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

h1{
  font-size:20px;
}

header {  
  border-bottom: black solid 2px;
  padding: 5px;
}

#heading-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black solid 2px;
  border-radius: 5px;
  padding: 20px 30px;
}
